@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Color palette https://coolors.co/f4f9f7-a53620-21252b-5c5f63-143642 */
/* --text: #02150d;
--background: #f8fefb;
--primary: #25e99a;
--secondary: #f67e21;
--accent: #6e4aed; */

:root {
	--text: #122001;
	--background: #fefffe;
	--primary: #91f90e;
	--secondary: #7a72fb;
	--accent: #eb3ffa;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--background);
	color: var(--text);
}

a {
	text-decoration: none;
	color: var(--text);
	padding: 5px;
}

a:hover {
	font-size: 1.1rem;
}

ul {
	list-style: none;
}

h2 {
	background-color: var(--primary);
	width: 150px;
	margin: auto;
	border-radius: 10px;
}

.flex {
	display: flex;
}

.grid {
	display: grid;
}
.hidden {
	display: none;
}

/* Header */

header {
	background-color: var(--secondary);
	justify-content: space-between;
	align-items: flex-end;
	padding: 20px;
}

.title {
	width: 50%;
}

.title h1 {
	text-align: left;
	letter-spacing: 0.5px;
}

nav {
	width: 50%;
	text-align: right;
}

/* Main */

main {
	display: flex;
	flex-direction: column;
}

.section {
	margin: 1.5rem;
}

.section-content {
	margin: 15px;
}

/* About Me */

.img-container {
	padding: 30px;
	background-color: var(--accent);
	border-radius: 20px;
}

.profile img {
	width: 250px;
	border-radius: 20px;
}

.profile p {
	line-height: 1.6rem;
	text-align: left;
	margin: auto 30px;
}

/* Skills */

.skills ul {
	display: grid;
	grid-template-columns: repeat(4, 175px);
	grid-template-rows: repeat(2, 60px);
	justify-content: space-around;
}

.skills li {
	text-align: left;
	align-self: center;
}

.skills img {
	width: 30px;
	padding-right: 5px;
}

/* Education */

/* Projects */

/* Contact */

.contact i {
	padding-right: 10px;
}
.contact p {
	margin: 10px;
}

.contact ul {
	grid-template-columns: repeat(2, 200px);
	grid-template-rows: repeat(3, 30px);
	justify-content: center;
	margin: 15px;
}
