@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Color palette https://coolors.co/f4f9f7-a53620-21252b-5c5f63-143642 */
/* --text: #02150d;
--background: #f8fefb;
--primary: #25e99a;
--secondary: #f67e21;
--accent: #6e4aed; */

:root {
	--text: #122001;
	--background: #fefffe;
	--primary: #91f90e;
	--secondary: #7a72fb;
	--accent: #eb3ffa;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--background);
	color: var(--text);
}

a {
	text-decoration: none;
	color: var(--text);
	padding: 5px;
}

a:hover {
	font-size: 1.1rem;
}

header {
	background-color: var(--secondary);
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 10px;
}

header .title {
	width: 50%;
}

.title h1 {
	text-align: left;
}

header nav {
	width: 50%;
	text-align: right;
}

ul {
	list-style: none;
}

.profile-picture {
	width: 500px;
}

img {
	width: 20px;
}

.section {
	margin: 2.5rem;
}

#skills {
	display: grid;
}
